```scss
    ---
    ---

    @import "{{ site.theme }}";
    ```

    a {
        text-decoration: none;
    }
    a:hover{
        color: chocolate;
        text-decoration: underline;
        text-decoration-color: black;
    }